body
{
    background-color: rgb(20, 30, 40);
}

a{
    text-decoration: none;
    color: white;
    font: bold;
    font-size: 20   px;
    font-family: arial black;
}

.inicial{
    background-color: rgb(20, 30, 40);
    position: fixed;
    left: 320px;
    top: 0px;
    border: 1px solid #ffffff;
    border-left: none;
    border-top: none;
    box-sizing: border-box;
	width: 600px;
    height: 8%;
    padding: 10px;
 
}

.opcoes{
    float: right;
    width: 30.5%;
    height: 1000px;
}

.base{
    margin:1px;
    margin-left: 945px;
    background-color: rgb(20, 30, 40);
    position: fixed;
    top: 0px;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
    width: 600px;
    height: 8%;
    padding: 10px;
}

.busca{
    position: fixed;
    box-sizing: border-box;
    background-color: rgb(37, 51, 65);
    margin: 20px;
    margin-top: 0px;
    border-radius: 50px;
    border: 0.5px solid rgb(29, 154, 231);
    width: 23%; 
    height: 30px;

}
input{
    background-color: rgb(20, 30, 40);
    border: none;
    border-radius: 50px;
    color: white;
    width: 99%;
    height: 28px;
    
  
  }

.tendencias{
    background-color: rgb(37, 51, 65);
    margin: 20px;
    margin-top: 50px;
    border-radius: 15px;

}
.sugestoes{
    background-color: rgb(37, 51, 65);
    margin: 20px;
    margin-top: 10px;
    border-radius: 15px;

}

.tendencias li, .sugestoes li{
    list-style-type: none;
}

.esquerdo
{
    position: fixed;
    background-color:   rgb(20, 30, 40);
    top: 0px;
    left: 0px;
    border: 1px solid #ffffff;
    border-bottom: none;
    border-top: none;
    border-left: none;
    box-sizing: border-box;
    width: 320px;
    height:100%;
}

.principal{
    margin-left: 310px;
    margin-right: 390px;
    padding-right: 350px;
    padding-top: 50px;
    padding-left:30px;
    background-color:rgb(20, 30, 40);
    border: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    width: 221px;
}


p{
    color: #FFFFFF;
    font-size: 18px;
}

.centro_1
{
    display: block;
    margin-left: 70px;
    margin-right: 30px;
    margin-top: 5%;
    height:50px;
}

.centro_2
{
    display: block;
    margin-left: 70px;
    margin-right: 30px;
    margin-top: 5%;
    height:50px;
}
