body
{
    background-color: rgb(20, 30, 40);
}

a{
    text-decoration: none;
    color: white;
    font: bold;
    font-size: 20   px;
    font-family: arial black;
}

div.fixo{
    background-color: rgb(20, 30, 40);
    position: fixed;
    left: 250px;
	margin-left: 0px;
    border: 1px solid #ffffff;
    border-left: none;
    border-top: none;
    box-sizing: border-box;
	width: 500px;
    height: 8%;
    padding: 10px;
}
header.fixo
{
    position: fixed;
    top: 0px;
    left: 0px;
    border: 1px solid #ffffff;
    border-bottom: none;
    border-top: none;
    box-sizing: border-box;
    width: 250px;
    height:100%;
}

div.main{
    position: relative;
    top: 55px;
    left: 230;
    right: 230;
    padding: 20px;
}
p{
    color: #FFFFFF;
    font-size: 18px;
}

